
{% extends 'base.html' %}
{% block title %}
|about
{% endblock title %}
{% block body %}
<div class="container my-3">
 <h1>Daniel Dominic Savio Kennedy</h1><p>(Developer)</p> 
 <img src="static\dom.jpeg" height="200"  alt="...">
 <br><br>
 <h5>Connect with me on:</h5>
 <a href="https://github.com/DanielDominicSavioKennedy"> <u>Github</u> </a><br>
 <a href="https://www.linkedin.com/in/dominic-savio-9180831aa/"> <u>Linkdin</u> </a>
<br><br>
<div class="callout bg-info py-3" >
  <p>&nbsp; This website is built for food lovers who enjoy eating food prepared by themselves <br> &nbsp; &nbsp;And for those who are found of cooking and feeding their family and friends </p>
    </div>
</div>

{% endblock body %}